/*Default Styles*/
html, body{
    display: block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}
html{
    position: relative;
    background-image: url("../image/fundoingredientes.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/*loader*/
#divLoader{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
}
#divLoader.white{
    background-color: white;
}
#divLoader.is-loaded{
    display: none;
}
#divLoader img{
    max-width: 10rem;
    max-height: 10rem;
}

/*modal*/
div.modal{
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.modal.inactive{
    display: none;
}
div.modal .modal-header{
    max-width: 90%;
    width: 45rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
}
div.modal .modal-body{
    max-width: 90%;
    width: 45rem;
    background-color: white;
    padding: 1rem;
}

/*form*/
.form input{
    display: block;
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: calc(100% - 1rem);
}
.form button, .form input[type="submit"], .form input[type="reset"]{
    width: auto;
    padding: 0.5rem 1rem;
}

/*modifiers*/
.bg-black{
    background-color: black;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.p-06{
    padding: .6rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.p-4{
    padding: 4rem;
}
.p-5{
    padding: 5rem;
}
.t-center{
    text-align: center;
}
.t-white{
    color: white;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.nav-links{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links li{
    display: inline-block;
}
.nav-links li a{
    display: block;
    padding: 1rem;
    color: white;
    cursor: pointer;
}
.nav-links li a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}